@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

:root {
    --primary-color: #2563EB;
    --grey-color: #D1D5DB;
    --brown-color: #991B1B;
    --black-color: #6B7280;
    --yellow-color: #FCD34D;
}

body {
    font-family: 'Cormorant Garamond', serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('image/minion3.jpg');
    background-size: cover;
}

#heading {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 5rem;
    color: #F59E0B;
}

#txt-input {
    margin: auto;
    display: block;
    padding: 0.5rem;
    width: 80%;
    height: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    border-width: 0.5rem;
    border-color: #9CA3AF;
    border-radius: 2rem;
    background-color: var(--grey-color);
    
}

#btn-translate {
    text-align: center;
}

button {
    font-family: 'Cormorant Garamond', serif;
    display: block;
    margin: 2rem auto;
    padding: 0.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    color: #F59E0B;
    background-color: black;
}

.output {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin: 1.5rem auto;
    font-size: 2rem;
    font-weight: bolder;
    
}
.footer {

    
    padding: 1rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1rem;
    text-align: center;
    font-weight: bolder;
}


#output {
    margin: auto;
    display: block;
    padding: 0.5rem;
    width: 80%;
    height: 15vh;
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    border-color: #9CA3AF;
    border-radius: 2rem;
    border: solid #9CA3AF;
    border-width: 0.5rem;
}